@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif
}


.wrapper {
    width: 550px;
    height: 346px;
    margin: auto;
    padding: 45px;
    background-color: white;
}

.quote-icon {
    font-size: 30px;
    margin-right: 15px;
}

.quote-text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}



.quote-author {
    font-size: 15px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button-icons a {
    width: 40px;
    height: 35px;
}